/.git

# From .gitignore
/.env
/db.sqlite3
/media/
/static/
/academy.egg-info/
/db_data/
/dump/profilepictures/
/dump/tables/
/svelte/node_modules/
/svelte/static/svelte/
/svelte/dist/
/svelte/templates/svelte_include_generated.html
*.pyc
__pycache__/
