django
django-extensions
ipython
pillow
bcrypt
djangorestframework
django-filter
tqdm
django-bootstrap4
python-dotenv
psycopg[binary]
django-debug-toolbar
facebook-sdk
celery[redis]
django-celery-beat
django-constance
scipy
channels
daphne
channels_redis
git+https://github.com/safwanrahman/django-webpush.git@5f37e5a072769685e562c5134c7492e7217a0302#egg=django-webpush
django-cors-headers
