django==3.*
django-extensions
ipython
pillow
bcrypt
djangorestframework
django-filter
tqdm
django-bootstrap4
python-dotenv
psycopg2
django-debug-toolbar
facebook-sdk
celery[redis]
django-celery-beat
django-constance[database]
scipy
channels
channels_redis
django-webpush
