body {
    margin-bottom: 36px;
}

tr[data-href] {
    cursor: pointer;
}

nav {
    margin-bottom: 2rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

a {
    color: #bd2130;
}

a:hover {
    color: #9b0615;
}
