{% load static %}
{% load bootstrap4 %}
{% load webpush_notifications %}
<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block pagetitle %}Page{% endblock %} | Academy</title>
		<link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
		<meta name="theme-color" content="#343a40">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static "css/styles.css" %}">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.0/apexcharts.min.css" integrity="sha256-RUxywoyKDxPwo7mk/9S7TvbhR+IpVsldMi53nTNGpWQ=" crossorigin="anonymous" />

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>

		<style>
		#banner {
			width: 100%;
			background-color: {{ config.BANNER_COLOR }};
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2em;
			margin: -1em 0 1em 0;
			padding: 1em;
			text-align: center;
		}
		{% if config.BANNER_BLINK %}
		#banner a {
			color: #000;
			animation: blinker 2s linear infinite;
		}
		@keyframes blinker {
			50% {
				color: white;
			}
		}
		{% endif %}
		</style>

		{% block styles %}{% endblock %}

    <script>
      var _isPushEnabled;
      var notificationButton;
      var notificationButtonClicked = false;

      function updateNotificationButton() {
        if (_isPushEnabled) {
          notificationButton.classList.add("subscribed");
        } else {
          notificationButton.classList.remove("subscribed");
        }
      }

      Object.defineProperty(window, 'isPushEnabled', {
        get: function() { return _isPushEnabled; },
        set: function(v) {
          _isPushEnabled = v;

          if (notificationButton) {
            updateNotificationButton();
          }
        }
      });

      window.addEventListener("DOMContentLoaded", function() {
        var webpushButton = document.getElementById("webpush-subscribe-button");
        notificationButton = document.getElementById("notification-button");
        notificationButton.addEventListener("click", function() {
          notificationButtonClicked = true;
          if (!registration) {
            showMessage('Service Worker is not supported in your Browser!');
            return;
          }
          webpushButton.click();
        });
        updateNotificationButton();
      });
    </script>
    <style>
      #notification-button.subscribed .fa-bell {
        display: none;
      }
      #notification-button:not(.subscribed) .fa-bell-slash {
        display: none;
      }
    </style>
    {% webpush_header %}
    <script>
      function showMessage(message) {
        if (notificationButtonClicked) {
          alert(message);
        }
      }
    </script>
	</head>
	<body class="{% if user.is_staff %}staff-user{% endif %}">
    <div style="display: none;">
      {% webpush_button %}
    </div>

		{% block body %}{% endblock %}

		{% include "footer.html" %}

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.0/apexcharts.min.js" integrity="sha256-cre9IYMCEv8sI80be7MYT2DRSQqnGayjkSV8HhP3/tM=" crossorigin="anonymous"></script>

		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

		{% if config.SNOWFLAKES_ENABLED %}
    <script src="https://unpkg.com/magic-snowflakes@4.1.6/dist/snowflakes.min.js" integrity="sha384-jbAIB/GHy9b9yhKXwiySc2MYlOgy9yalQPKzgZ8wx0dror6JrgWh+6VEXX2aGQ1i" crossorigin="anonymous"></script><script src="https://unpkg.com/magic-snowflakes@4.1.6/dist/snowflakes.min.js" integrity="sha384-jbAIB/GHy9b9yhKXwiySc2MYlOgy9yalQPKzgZ8wx0dror6JrgWh+6VEXX2aGQ1i" crossorigin="anonymous"></script>
    <script>
      Snowflakes({
        count: {{ config.SNOWFLAKES_COUNT }},
      });
    </script>
		{% endif %}

		<script src="{% static "js/script.js" %}"></script>
		{% block scripts %}{% endblock %}

    <script data-goatcounter="https://academy.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
	</body>
</html>
