<footer class="container">
  <div class="row">
    <div class="col">
      <a href="https://www.facebook.com/pg/BeerAcademy.nu" target="_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://github.com/beeracademy" target="_blank">
        <i class="fab fa-github-square"></i>
      </a>
      <a href="https://discord.gg/RazEcbG" target="_blank">
        <i class="fab fa-discord"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span>&copy; Academy 2002-{% now "Y" %}</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <small>
        {% if GIT_COMMIT_HASH %}
          Running version <a href="https://github.com/beeracademy/web/commit/{{ GIT_COMMIT_HASH }}">{{ GIT_COMMIT_HASH }}</a>
        {% else %}
          Running unknown version
        {% endif %}
      </small>
    </div>
  </div>
</footer>
