{% extends "base.html" %}

{% block pagetitle %}Game {{ object.id }}{% endblock %}

{% block styles %}
<style>
.card-header {
    font-size: 4rem;
    text-align: center;
}
.card-img-top {
    width: {{ IMAGE_WIDTH }}px;
}
.symbol {
    width: 1rem;
    display: inline-block;
}
</style>
{% endblock %}

{% block content %}

<h2>
    Game
	{% if user.is_staff %}
		<a class="btn btn-primary float-right text-light col-md-auto" href="/admin/games/game/{{ object.id }}/change/">Edit</a>
		<br><br class="d-lg-none">
	{% endif %}
</h2>

<hr>

<p id="description"></p>

<table class="table">
<thead>
    <tr>
    <th scope="col">Game id</th>
    <th scope="col">Start Time</th>
    <th scope="col">End Time</th>
    <th scope="col">Duration</th>
    </tr>
</thead>
<tbody>
    <tr>
    <td>{{ object.id }}</td>
    <td id="game_start_datetime">-</td>
    <td id="game_end_datetime">-</td>
    <td id="game_duration">-</td>
    </tr>
</tbody>
</table>

<h2>Players</h2>

<hr>

<div class="container">
<div class="row justify-content-md-center">
{% for player in game.ordered_players %}
<div class="col-md-auto">
    <div class="card">
        <a href="/players/{{ player.id }}/" style="margin: auto;">
            <img class="card-img-top" src="{{ player.image_url }}" alt="Card image cap">
        </a>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="/players/{{ player.id }}/">{{ player.username }}</a>
            </li>
            <li class="list-group-item">Total sips: <span class="total_sips">-</span></li>
            <li class="list-group-item">Sips per turn: <span class="sips_per_turn">-</span></li>
            <li class="list-group-item">Total beers: <span class="full_beers">-</span> <sup><span class="extra_sips">-</span></sup>&frasl;<sub>{{ object.sips_per_beer }}</sub></li>
            <li class="list-group-item">Total time: <span class="total_time">-</span></li>
            <li class="list-group-item">Time per round: <span class="time_per_turn">-</span></li>
            <li class="list-group-item">Time per sip: <span class="time_per_sip">-</span></li>
        </ul>
    </div>
</div>
{% endfor %}
</div>
</div>

<h2>Chugs</h2>

<hr>

<div class="container">
    <div id="chugs_container" class="row justify-content-md-center">
    </div>
</div>

<h2>Round overview</h2>

<hr>

<table id="cards_table" class="table table-bordered table-striped table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Round</th>
            {% for p in object.ordered_players %}
            <th scope="col">{{ p.username }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br>
<br>
<canvas id="sips_graph_canvas"></canvas>
<br>
<br>
<br>
<div id="time_graph_container">
    <canvas id="time_graph_canvas"></canvas>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

{{ game_data|json_script:"game_data" }}
{{ player_data|json_script:"player_data" }}
{{ card_constants|json_script:"card_constants" }}


<script>
    {% if user.is_staff %}
    var isStaff = true;
    {% else %}
    var isStaff = false;
    {% endif %}

    var userColors = [
        "#16a085",
        "#27ae60",
        "#2980b9",
        "#8e44ad",
        "#2c3e50",
        "#f39c12",
        "#d35400",
        "#c0392b",
    ];

    var card_constants = JSON.parse(document.getElementById("card_constants").textContent);

    var players = JSON.parse(document.getElementById("player_data").textContent);
    var playerCount = players.length;

    var game_id = {{ object.id }};

    function cardName(card) {
        return card_constants.value_names[card.value] + " of " + card_constants.suit_names[card.suit];
    }

    function coloredSuit(suit) {
        var pair = card_constants.suit_symbols[suit];
        return $("<span>").css({"color": pair[1]}).text(pair[0]);
    }

    function updateGameInfo(game_data) {
        if (game_data.description) {
            $("#description").text(game_data.description);
        }
        var end_datetime;
        if (game_data.end_datetime) {
            end_datetime = new Date(game_data.end_datetime);
            $("#game_end_datetime").text(formatDate(end_datetime));
        } else {
            if (game_data.dnf) {
                end_datetime = new Date(game_data.cards[game_data.cards.length - 1].drawn_datetime);
                $("#game_end_datetime").text("DNF");
            } else {
                end_datetime = Date.now();
            }
        }
        var duration, start_text;
        if (game_data.start_datetime) {
            var start_datetime = new Date(game_data.start_datetime);
            start_text = formatDate(start_datetime);
            duration = formatDuration(end_datetime - start_datetime);
        } else {
            duration = "?";
            start_text = "?";
        }
        $("#game_duration").text(duration);
        $("#game_start_datetime").text(start_text);
    }

    function updatePlayerStats(game_data) {
        var formatMap = {
            sips_per_turn: function(x) { return Math.round(x, 2); },
            total_time: formatDuration,
            time_per_turn: formatDuration,
            time_per_sip: formatDuration,
        };

        for (var i = 0; i < playerCount; i++) {
            var stats = game_data.player_stats[i];
            for (var k in stats) {
                if (stats.hasOwnProperty(k)) {
                    var text = stats[k];
                    if (text === null) {
                        text = "?";
                    } else if (formatMap.hasOwnProperty(k)) {
                        text = formatMap[k](text);
                    }
                    $("." + k).eq(i).text(text);
                }
            }
        }
    }

    function updateChugs(game_data) {
        var container = $("#chugs_container");
        container.html("");
        for (var i = 0; i < game_data.cards.length; i++) {
            var card = game_data.cards[i];
            var duration = card.chug_duration_ms;
            if (duration) {
                var playerIndex = i % playerCount;
                var player = players[playerIndex];

                var list = $("<ul>").attr({"class": "list-group list-group-flush"}).append(
                    $("<li>").attr({"class": "list-group-item"}).append(
                        $("<a>").attr({"href": "/players/" + player.id + "/"}).text(player.name)
                    )).append(
                        $("<li>").attr({"class": "list-group-item"}).text(formatDuration(duration, 3))
                    );

                if (isStaff) {
                    list.append($("<li>").attr({"class": "list-group-item"}).append(
                        $("<a>").attr({
                            "class": "btn btn-primary text-light",
                            "href": "/admin/games/chug/" + card.chug_id + "/change/",
                            "style": "width: 100%",
                        }).text("Edit")
                    ));
                }

                container.append(
                    $("<div>").attr({"class": "col-md-auto"}).append(
                        $("<div>").attr({"class": "card"}).append(
                            $("<div>").attr({"class": "card-header"}).append(coloredSuit(card.suit))
                        ).append(list)
                    )
                );
            }
        }
    }

    function updateCardsTable(game_data) {
        var tbody = $("#cards_table > tbody");
        tbody.html("");
        for (var i = 0; i < 13; i++) {
            var row = $("<tr>");
            row.append($("<td>").text(i + 1));

            for (var j = 0; j < playerCount; j++) {
                var card = game_data.cards[i * playerCount + j];
                var cell = $("<td>");
                if (card) {
                    var symbol = $("<span>").attr({"class": "symbol"}).append(coloredSuit(card.suit));
                    cell.attr({"title": cardName(card)}).append(symbol).append(" " + card.value);
                }
                row.append(cell);
            }

            tbody.append(row);
        }
    }

    function updateSipsGraph(game_data) {
        var datasets = [];
        for (var i = 0; i < playerCount; i++) {
            datasets.push({
                label: players[i].name,
                fill: false,
                lineTension: 0,
                backgroundColor: userColors[i],
                borderColor: userColors[i],
                data: [0],
            });
        }

        for (var i = 0; i < game_data.cards.length; i++) {
            var data = datasets[i % playerCount].data;
            data.push(data[data.length - 1] + game_data.cards[i].value);
        }

        var labels = [];
        for (var i = 0; i <= 13; i++) {
            labels.push(i);
        }

        var config = {
            type: "line",
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                responsive: true,
                animation: false,
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Round",
                        },
                        ticks: {
                            min: 0
                        },
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Sips",
                        },
                        ticks: {
                            min: 0
                        },
                    }],
                },
            }
        };

        var ctx = document.getElementById("sips_graph_canvas").getContext("2d");
        new Chart(ctx, config);
    }

    function updateTimeGraph(game_data) {
        if (game_data.cards.length > 0 && game_data.cards[0].drawn_datetime === null) {
            $("#time_graph_container").html("").append($("<p>").css({"text-align": "center"}).text("Time graph unavailable due to missing data"));
            return;
        }

        var start_datetime = new Date(game_data.start_datetime);
        var end_datetime = game_data.end_datetime? new Date(game_data.end_datetime): undefined;

        var datasets = [{
            label: "Time",
            fill: false,
            lineTension: 0,
            backgroundColor: userColors[0],
            borderColor: userColors[0],
            data: [],
        }];

        for (var i = 0; i < game_data.cards.length; i++) {
            datasets[0].data.push(new Date(game_data.cards[i].drawn_datetime));
        }

        var labels = [];
        for (var i = 0; i < game_data.cards.length; i++) {
            labels.push(i);
        }

        var config = {
            type: "line",
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                responsive: true,
                animation: false,
                legend: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Turn",
                        },
                        ticks: {
                            min: 0
                        },
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Time",
                        },
                        ticks: {
                            min: start_datetime,
                            max: end_datetime,
                            stepSize: 10 * 60 * 1000,
                            callback: function (value) {
                                var msDiff = value - start_datetime;
                                return formatDuration(msDiff);
                            },
                        },
                    }],
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var index = tooltipItem.index;
                            var player_name = players[index % playerCount].name;
                            var previous = index === 0? start_datetime: data.datasets[0].data[index - 1];
                            var msDiff = parseInt(tooltipItem.value) - previous;
                            return player_name + "'s turn time: " + formatDuration(msDiff);
                        },
                    },
                },
            }
        };

        var ctx = document.getElementById("time_graph_canvas").getContext("2d");
        new Chart(ctx, config);
    }

    function updatePage(game_data) {
        updateGameInfo(game_data)
        updatePlayerStats(game_data)
        updateChugs(game_data);
        updateCardsTable(game_data);
        updateSipsGraph(game_data);
        updateTimeGraph(game_data);
    }

    function hasNewData(old_data, new_data) {
        return JSON.stringify(old_data) !== JSON.stringify(new_data);
    }

    var updateInterval = 1000;
    var last_game_data = null;
    function updateData() {
        $.get("/api/games/" + game_id + "/", function (game_data) {
            if (hasNewData(last_game_data, game_data)) {
                updatePage(game_data);
            }
            if (!game_data.end_datetime && !game_data.dnf) {
                setTimeout(updateData, updateInterval);
            }

            last_game_data = game_data;
        });
    }

    var game_data = JSON.parse(document.getElementById("game_data").textContent);
    updatePage(game_data);

    if (!game_data.end_datetime) {
        setTimeout(updateData, updateInterval);
    }
</script>
{% endblock %}
