{% extends "paginated_list_view.html" %}

{% block beforetable %}
<h2>
	<i class="fas fa-gamepad"></i> Games
	<div style="float: right;">
		{% include "season_chooser.html" %}
	</div>
</h2>
	
<form method="get">
	<div class="form-group">
		<input type="hidden" name="season" value="{{ season.number }}">
		<input type="text" name="query" class="form-control" placeholder="Search" value="{{ query }}" autofocus>
	</div>
</form>
{% endblock %}

{% block thead %}
<tr>
	<th scope="col">Players</th>
	<th scope="col">Season</th>
	<th scope="col">End time</th>
	<th scope="col">Duration</th>
</tr>
{% endblock %}

{% block tbody %}
{% for game in object_list %}
<tr data-href="/games/{{ game.id }}/" class="{% if user in game.ordered_players %}table-primary {% endif %}{% if game.is_live %}table-success live {% endif %}" data-start-time="{{ game.start_datetime.timestamp }}">
	<td>
		{% for player in game.ordered_players %}
		<a href="/players/{{ player.id }}/">{{ player.username }}</a>{% if not forloop.last %},{% endif %}
		{% endfor %}
	</td>
	<td>{{ game.season_number_str }}</td>
	<td>{{ game.end_str }}</td>
	<td class="duration">{{ game.duration_str }}</td>
</tr>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
	function twoPad(s) {
		s = s.toString();
		if (s.length == 1) {
			s = "0" + s;
		}
		return s;
	}

	function formatDuration(ms) {
		var total_seconds = Math.floor(ms / 1000);
		var seconds = total_seconds % 60;
		var total_minutes = Math.floor(total_seconds / 60);
		var minutes = total_minutes % 60;
		var total_hours = Math.floor(total_minutes / 60);

		return total_hours + ":" + twoPad(minutes) + ":" + twoPad(seconds);
	}

	setInterval(function() {
		$(".live").each(function(i, el) {
			var start = new Date(parseFloat(el.getAttribute("data-start-time")) * 1000);
			var difference = Date.now() - start;
			var newDuration = formatDuration(difference);
			el.querySelector(".duration").textContent = newDuration;
		});
	}, 1000);
</script>
{% endblock %}
