{% extends "paginated_list_view.html" %}

{% block beforetable %}
<h2>
	<i class="fas fa-gamepad"></i> Games
	<div style="float: right;">
		{% include "season_chooser.html" %}
	</div>
</h2>
	
<form method="get">
	<div class="form-group">
		<input type="hidden" name="season" value="{{ season.number }}">
		<input type="text" name="query" class="form-control" placeholder="Search" value="{{ query }}" autofocus>
	</div>
</form>
{% endblock %}

{% block thead %}
<tr>
	<th scope="col">Players</th>
	<th scope="col">Season</th>
	<th scope="col">End time</th>
	<th scope="col" class="text-right">Duration</th>
</tr>
{% endblock %}

{% block tbody %}
{% for game in object_list %}
<tr data-href="/games/{{ game.id }}/" class="{% if user in game.ordered_players %}in-game {% endif %}{% if not game.has_ended %} live {% endif %}" data-start-time="{{ game.start_datetime.timestamp }}">
	<td>
		{% for player in game.ordered_players %}
		<a href="/players/{{ player.id }}/">{{ player.username }}</a>{% if not forloop.last %},{% endif %}
		{% endfor %}
	</td>
	<td>{{ game.season_number_str }}</td>
	<td>{{ game.end_str }}</td>
	<td class="text-right">
		<span class="duration">
			{{ game.duration_str }}
		</span>
		<i class="far fa-clock"></i>
	</td>
</tr>
{% endfor %}
{% endblock %}