{% extends "paginated_list_view.html" %}

{% block pagetitle %}Games{% endblock %}

{% block beforetable %}
<h2>
	<i class="fas fa-gamepad"></i> Games
	<div style="float: right;">
		<a class="btn btn-outline-danger col-md-auto" type="button" href="/upload_game/">
			Upload failed game
		</a>
		{% include "season_chooser.html" %}
	</div>
</h2>

<form method="get">
	<div class="form-group">
		<input type="hidden" name="season" value="{{ season.number }}">
		<input type="text" name="query" class="form-control" placeholder="Search" value="{{ query }}" autofocus>
	</div>
</form>
{% endblock %}

{% block thead %}
<tr class="academy-table">
	<th scope="col">Players</th>
	<th scope="col">Season</th>
	{% include "sort_col.html" with name="End datetime" column=order.end_datetime %}
	{% include "sort_col.html" with name="Duration" column=order.duration %}
</tr>
{% endblock %}

{% block tbody %}
{% for game in object_list %}
<tr data-href="/games/{{ game.id }}/" class="academy-table slim {% if user in game.ordered_players %}in-game {% endif %}{% if game.is_live %}live {% endif %}{% if game.dnf %}dnf {% endif %}" data-start-time="{{ game.start_datetime.timestamp }}">
	<td>
		{% for gp in game.ordered_gameplayers %}
		<a href="/players/{{ gp.user.id }}/" class="{% if gp.dnf %}dnf{% endif %}"><span class="username">{{ gp.user.username }}</span></a>{% if not forloop.last %},{% endif %}{% endfor %}
	</td>
	<td>{{ game.season_number_str }}</td>
	<td>{{ game.end_str }}</td>
	<td class="text-right">
		<span class="duration">
			{{ game.duration_str }}
		</span>
		<i class="far fa-clock"></i>
	</td>
</tr>
{% endfor %}
{% endblock %}
