{% extends "base.html" %}

{% load svelte %}

{% block pagetitle %}Game {{ object.id }}{% endblock %}

{% block styles %}
<style>
    body {
        display: flex;
        flex-direction: column;
    }

    nav {
        margin-bottom: 0px !important;
        flex-grow: 0;
    }

    #svelte-game_detail {
        height: calc(100% - 64px);
    }

    .card-img-top {
        width: {{ IMAGE_WIDTH }}px;
    }
</style>
<script>
    window.is_authenticated = {{ user.is_authenticated|lower }};
    window.is_staff = {{ user.is_staff|lower }};
</script>

{% svelte_include "GameDetail" %}

{% endblock %}

{% block body %}

{% include "nav.html" %}

{{ game_data|json_script:"game_data" }}
{{ ordered_gameplayers|json_script:"ordered_gameplayers" }}
{{ card_constants|json_script:"card_constants" }}

<div id="svelte-game_detail">
</div>

{% endblock %}
