{% extends "base.html" %}

{% load static %}

{% block content %}

<h5><i class="fas fa-chart-pie"></i> General Stats</h5>

<hr>

<div class="container">
    <div class="row">
        <div class="card col-md-3 m-auto">
            <div class="card-body text-center">
                <i class="fas fa-gamepad fa-3x"></i>
                <p class="card-title">Games played</p>
                <h4 class="card-text">{{ total_games }}</h4>
            </div>
        </div>
        <div class="card col-md-3 m-auto">
            <div class="card-body text-center">
                <i class="fas fa-beer fa-3x"></i>
                <p class="card-title">Beers consumed</p>
                <h4 class="card-text">{{ total_beers|floatformat:0 }}</h4>
            </div>
        </div>
        <div class="card col-md-3 m-auto">
            <div class="card-body text-center">
                <i class="fas fa-calendar-alt fa-3x"></i>
                <p class="card-title">Current season</p>
                <h4 class="card-text">{{ current_season.number }}</h4>
            </div>
        </div>
    </div>
</div>

{% if live_games %}

<br>
<h5><i class="fas fa-hand-spock"></i> Live Games</h5>

<hr>

{% for game in live_games %}
<div class="card mt-1 mb-1 hover bg-danger text-light" data-href="/games/{{ game.id }}/">
    <div class="container p-3">
        <i class="far fa-user" style="margin-right: 5px;"></i>

        {% for player in game.ordered_players %}
        <a href="/players/{{ player.id }}/" class="text-light">{{ player.username }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
  
        <div class="float-right col-md-auto p-0 live" data-start-time="{{ game.start_datetime.timestamp }}">
            <i class="far fa-clock d-lg-none"></i>
            <div class="duration" style="display: inline;">
                {{ game.duration_str }}
            </div>
            <i class="far fa-clock d-none d-lg-inline" style="margin-left: 5px;"></i>
        </div>
    </div>
</div>

{% endfor %}

{% endif %}

<br>
<h5><i class="fas fa-heart"></i> Recently Active Players</h5>

<hr>

<div class="row">
    {% for user in recent_players %}
    <div class="col-6 col-lg-3 py-2">
        <a href="/players/{{ user.id }}/"><img src="{{ user.image_url }}"
                class="img-fluid mx-auto d-block bottom-shadow rounded"></a>
        <div class="card-username">{{ user.username }}</div>
    </div>
    {% endfor %}
</div>

<br>

<h5><i class="fas fa-thumbs-down"></i> Wall Of Shame</h5>

<hr>

<div class="row">
    {% for user in wall_of_shame_players %}
    <div class="col-6 col-lg-3 py-2">
        <a href="/players/{{ user.id }}/"><img src="{{ user.image_url }}" class="img-fluid mx-auto d-block rounded"></a>
        <div class="card-username">{{ user.username }}</div>
    </div>
    {% endfor %}
</div>

<style>
    .card-username {
        text-align: center;
        color: #fff;
        font-weight: bold;
        margin-top: -40px;
        font-size: 24px;

        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .hover {
    }

    .hover:hover {
        cursor: pointer;
    }
</style>

{% endblock %}