{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="mx-auto card col-md-6">
			<div class="card-body">
				<h3 class="card-title">Login</h3>
				<form action="/login/" method="post" class="form">
					{% csrf_token %}
					{% bootstrap_form form %}
					{% buttons %}
					<br>
					<button type="submit" class="btn btn-primary col-12 text-big" style="font-size: 24px;">Login</button>
					{% endbuttons %}
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	if(document.getElementsByClassName("alert-danger").length > 0){
		(new Audio('/static/sound/oops.mp3')).play();
	}
</script>
{% endblock %}