{% extends "container.html" %}

{% load static %}
{% load bootstrap4 %}

{% block pagetitle %}Password reset confirmation{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="mx-auto card col-md-6">
			<div class="card-body">
				<h3 class="card-title">New password</h3>
				<hr>
				{% if form %}
					<form method="post" class="form">
						{% csrf_token %}
						{% bootstrap_form form %}
						{% buttons %}
						<br>
						<button type="submit" class="btn btn-danger col-12 text-big" style="font-size: 18px;">Submit</button>
						{% endbuttons %}
					</form>
				{% else %}
					<p>Invalid password reset link. <a href="/login/password_reset/">Try again?</a></p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
