{% extends "base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="mx-auto card col-md-6">
			<div class="card-body">
				<h3 class="card-title">Reset password</h3>
				<form method="post" class="form">
					{% csrf_token %}
					{% bootstrap_form form %}
					{% buttons %}
					<br>
					<button type="submit" class="btn btn-danger col-12 text-big" style="font-size: 18px;">Submit</button>
					{% endbuttons %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
