{% extends "paginated_list_view.html" %}

{% block beforetable %}
<h2><i class="fas fa-users"></i> Players</h2>
<br>

<form method="get">
	<div class="form-group">
		<input type="text" name="query" class="form-control" placeholder="Search" value="{{ query }}" autofocus>
	</div>
</form>
{% endblock %}

{% block thead %}
<tr>
	<th scope="col">Username</th>
	<th scope="col">Games Played in {{ current_season }}</th>
	<th scope="col">Total Games Played</th>
</tr>
{% endblock %}

{% block tbody %}
{% for user in object_list %}
<tr data-href="/players/{{ user.id }}/">
	<td>{{ user.username }}</td>
	<td>{{ user.current_season_game_count }}</td>
	<td>{{ user.total_game_count }}</td>
</tr>
{% endfor %}
{% endblock %} 
