{% extends "paginated_list_view.html" %}

{% block title %}<i class="fas fa-user"></i> Players{% endblock %}

{% block thead %}
<br>
<tr>
	<th scope="col">Username</th>
	<th scope="col">Games Played in {{ current_season }}</th>
	<th scope="col">Total Games Played</th>
</tr>
{% endblock %}

{% block tbody %}
{% for user in object_list %}
<tr data-href="/players/{{ user.id }}/">
	<td>{{ user.username }}</td>
	<td>{{ user.current_season_game_count }}</td>
	<td>{{ user.total_game_count }}</td>
</tr>
{% endfor %}
{% endblock %}
