{% extends "paginated_list_view.html" %}

{% block pagetitle %}Players{% endblock %}

{% block beforetable %}
<div class="page-toolbar">
    <div>
        <h1 class="page-title icon-heading"><i class="fas fa-users"></i> Players</h1>
        <p class="page-subtitle">{{ object_list.paginator.count }} registered players</p>
    </div>
</div>

<form method="get">
    <div class="form-group search-input-wrap mb-3">
        <i class="fas fa-search search-icon"></i>
        <input type="text" name="query" class="form-control" placeholder="Search players…" value="{{ query }}" autofocus>
    </div>
</form>
{% endblock %}

{% block thead %}
<tr class="academy-table">
    <th scope="col" style="width: 52px; padding-right: 0;"></th>
    <th scope="col" class="player-name-col">Username</th>
    <th scope="col">Games in {{ current_season }}</th>
    <th scope="col">Total Games</th>
</tr>
{% endblock %}

{% block tbody %}
{% for user in object_list %}
<tr data-href="/players/{{ user.id }}/" class="academy-table">
    <td style="width:44px; padding-right: 0;">
        <div class="round-image" style="background-image: url({{ user.image_url }});"></div>
    </td>
    <td class="player-name-col"><span class="username">{{ user.username }}</span></td>
    <td>{{ user.current_season_game_count }}</td>
    <td>{{ user.total_game_count }}</td>
</tr>
{% endfor %}
{% endblock %}
