{% extends "base.html" %}

{% block content %}

<h4><i class="fas fa-cogs"></i> Settings</h4>

<hr>

<div class="row">
	<div class="col-md-6 text-center">
		<img src="{{ object.image_url }}" alt="Profile picture"><br><br>
		<button class="btn btn-primary col-5">Upload image</button>
		<button class="btn btn-danger col-5">Delete</button>
		<br><br>
	</div>
	<div class="col-md-6">
		<form>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" value="{{ object.username }}">
			</div>
			<div class="form-group">
				<label for="password">New password</label>
				<input type="password" class="form-control" id="password">
			</div>
			<button type="submit" class="btn btn-primary col-md-auto">Save</button>
		</form>
		<br>
	</div>
</div>

{% endblock %}