{% extends "paginated_list_view.html" %}

{% block pagetitle %}Ranking{% endblock %}

{% block beforetable %}

<h2>
	<i class="fas fa-trophy"></i> Ranking
	<div style="float: right;">
		{% include "season_chooser.html" %}
	</div>
</h2>

<ul class="nav nav-tabs">
	{% for name, url in ranking_tabs %}
	<li class="nav-item">
		<a class="nav-link{% if name == ranking.name %} active{% endif %}" href="{{ url }}">
			{{ name }}
		</a>
	</li>
	{% endfor %}
</ul>

<br>
{% if user.is_authenticated %}
<h3>Your rank: {% spaceless %}
	{% if user_rank %}
	<a href="{{ user_rank_url }}">{{ user_rank }}</a>
	{% else %}
	-
	{% endif %}
{% endspaceless %}</h3>
{% endif %}

{% endblock %}

{% block thead %}
<tr class="academy-table">
	<th scope="col">#</th>
	<th scope="col">Username</th>
	<th scope="col">{{ ranking.name }}</th>
</tr>
{% endblock %}

{% block tbody %}
{% for user_ranking in object_list %}
<tr class="academy-table slim" data-href="/players/{{ user_ranking.user.id }}/"{% if user_ranking.user == user %} class="table-primary"{% endif %}>
	<td>{{ user_ranking.rank }}</td>
	<td>{{ user_ranking.user.username }}</td>
	<td>{% include "utils/link.html" with text=user_ranking.value prefix="/games" id=user_ranking.game.id %}</td>
</tr>
{% endfor %}
{% endblock %}
