{% extends "base.html" %}

{% load humanize %}

{% block pagetitle %}Overall game stats{% endblock %}

{% block content %}

<h2>
	Overall game stats
	<div style="float: right;">
		{% include "season_chooser.html" %}
		{% include "chooser.html" with chooser=player_count_chooser %}
	</div>
</h2>

<hr>

<h3>Game stats</h3>

<table class="table table-bordered table-striped table-sm">
	<tbody>
		<tr>
			<th>Games played</th>
			<td>{{ game_stats.total_games|intcomma }} ({{ game_stats.total_dnf|intcomma }} DNF)</td>
		</tr>
		<tr>
			<th>Total sips</th>
			<td>{{ game_stats.total_sips|intcomma }} ({{ game_stats.total_beers|floatformat:0|intcomma}} beers)</td>
		</tr>
		<tr>
			<th>Total duration of games (only games after 2014-04-05)</th>
			<td>{{ game_stats.total_duration|intcomma }}</td>
		</tr>
	</tbody>
</table>

<h3>Sips distribution ({{ sips_data.total_ys|intcomma }} data points)</h3>

Approximate distribution:
<span style="white-space: pre;">{{ sips_data.dist_str }}</span>

<div id="sips_chart"></div>

<h3>Game duration distribution ({{ duration_data.games|intcomma }} data points)</h3>

Only shows finished games with duration less than {{ duration_data.max_hours }} hours.

<div id="duration_chart"></div>

<h3>Chugs distribution ({{ chugs_data.total_ys|intcomma }} data points)</h3>

Exact distribution:
<span style="white-space: pre;">{{ chugs_data.dist_str }}</span>

<div id="chugs_chart"></div>

{% endblock %}

{% block scripts %}
{{ sips_data|json_script:"sips_data" }}
{{ chugs_data|json_script:"chugs_data" }}
{{ duration_data|json_script:"duration_data" }}

<script>
	function barchart_options() {
		return {
			chart: {
				height: 500,
			},
			plotOptions: {
				bar: {
					columnWidth: "90%",
				},
			},
			dataLabels: {
				enabled: false,
			},
			stroke: {
				show: true,
				width: 2,
				colors: ["transparent"],
			},
			series: [{
				type: "bar",
				name: "Occurences",
			}],
			yaxis: {
				title: {
					text: "Occurences",
				},
				decimalsInFloat: 0,
			},
			tooltip: {
				enabledOnSeries: [0],
			},
		};
	}

	var charts = [{
		data: "sips_data",
		chart: "sips_chart",
		name: "Sips",
	}, {
		data: "chugs_data",
		chart: "chugs_chart",
		name: "Chugs",
	}];

	function normal_distribution(mu, sigma, x) {
		return 1 / (sigma * Math.sqrt(2 * Math.PI)) * Math.exp(-1/2 * Math.pow((x - mu) / sigma, 2));
	}

	for (var i = 0; i < charts.length; i++) {
		var data = JSON.parse(document.getElementById(charts[i].data).textContent);
		var chart_el = document.getElementById(charts[i].chart);

		if (data.xs.length === 0) {
			chart_el.textContent = 'No data';
			continue;
		}

		var options = barchart_options();
		options.xaxis = {
			title: {
				text: charts[i].name + " for one player in one game",
			},
			categories: data.xs,
		};
		options.series[0].data = data.ys;

		options.tooltip.y = {
			formatter: (function(data) {
				return function(val, d) {
					return val + " (" + (val / data.total_ys * 100).toFixed(2) + " %,"
						+ " expected: " + (data.probs[d.dataPointIndex] * 100).toFixed(2) + " %"
						+ (data.probs_exact? "": " approx.") +")";
				};
			})(data),
		};

		if (charts[i].data === "sips_data" && data.probs.length !== 0) {
			var expected = [];
			for (var j = 0; j < data.probs.length; j++) {
				expected.push(data.probs[j] * data.total_ys);
			}
			options.series.push({
				type: "line",
				name: "Expected occurences",
				data: expected,
			});
		}

		var chart = new ApexCharts(chart_el, options);
		chart.render();
	}


	var duration_data = JSON.parse(document.getElementById("duration_data").textContent);
	var duration_chart_el = document.getElementById("duration_chart");
	if (duration_data.games === 0) {
		duration_chart_el.textContent = "No data";
	} else {
		var duration_options = barchart_options();
		duration_options.xaxis = {
			title: {
				text: "Game duration",
			},
			categories: duration_data.xs,
		};
		duration_options.series[0].data = duration_data.ys;
		duration_options.tooltip.y = {
			formatter: (function(data) {
				return function(val, d) {
					return val + " (" + (val / data.total_ys * 100).toFixed(2) + " %)";
				};
			})(data),
		};

		var duration_chart = new ApexCharts(duration_chart_el, duration_options);
		duration_chart.render();
	}
</script>
{% endblock %}
