{% extends "container.html" %}

{% load humanize %}

{% block pagetitle %}Overall game stats{% endblock %}

{% block styles %}
<link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" rel="stylesheet" integrity="sha384-lPzjPsFQL6te2x+VxmV6q1DpRxpRk0tmnl2cpwAO5y04ESyc752tnEWPKDfl1olr" crossorigin="anonymous">
<link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" rel="stylesheet" integrity="sha384-5kMSQJ6S4Qj5i09mtMNrWpSi8iXw230pKU76xTmrpezGnNJQzj0NzXjQLLg+jE7k" crossorigin="anonymous">
<style>
#map {
	height: 500px;
	margin-bottom: 2em;
}
</style>
{% endblock %}

{% block content %}

<h2>
	Overall game stats
	<div style="float: right;">
		{% include "season_chooser.html" %}
		{% include "chooser.html" with chooser=player_count_chooser %}
	</div>
</h2>

<hr>

<h3>Game stats</h3>

<table class="table table-bordered table-striped table-sm">
	<tbody>
		<tr>
			<th>Games played</th>
			<td>{{ game_stats.total_games|intcomma }} ({{ game_stats.total_dnf|intcomma }} DNF)</td>
		</tr>
		<tr>
			<th>Total sips</th>
			<td>{{ game_stats.total_sips|intcomma }} ({{ game_stats.total_beers|floatformat:0|intcomma}} beers)</td>
		</tr>
		<tr>
			<th>Total duration of games (only games after 2014-04-05)</th>
			<td>{{ game_stats.total_duration|intcomma }}</td>
		</tr>
	</tbody>
</table>

<div id="heatmap"></div>

{% if location_data %}
<div id="map"></div>
{% endif %}

<h3>Sips distribution ({{ sips_data.total_ys|intcomma }} data points)</h3>

Distribution:
<span style="white-space: pre;">{{ sips_data.dist_str }}</span>

<div id="sips_chart"></div>

<h3>Game duration distribution ({{ duration_data.total_ys|intcomma }} data points)</h3>

Only shows finished games with duration less than {{ duration_data.max_duration }}.

<div id="duration_chart"></div>

<h3>Chugs distribution ({{ chugs_data.total_ys|intcomma }} data points)</h3>

<table class="table table-bordered table-striped table-sm">
	<thead>
		{% for v in chug_table_header %}
			<th>{{ v }}</th>
		{% endfor %}
	</thead>
	<tbody>
		{% for row in chug_table %}
			<tr>
				{% for v in row %}
					{% if forloop.first %}
						<th>{{ v }}</th>
					{% else %}
						<td>
							{% if v %}
								{{ v|floatformat:4 }}&nbsp;%
							{% else %}
								-
							{% endif %}
						</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

Distribution:
<span style="white-space: pre;">{{ chugs_data.dist_str }}</span>

<div id="chugs_chart"></div>

<h3>Chug duration distribution ({{ chug_duration_data.total_ys|intcomma }} data points)</h3>

Only shows chugs with duration less than {{ chug_duration_data.max_duration }}.

<div id="chug_duration_chart"></div>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js" integrity="sha384-RLIyj5q1b5XJTn0tqUhucRZe40nFTocRP91R/NkRJHwAe4XxnTV77FXy/vGLiec2" crossorigin="anonymous"></script>

{{ location_data|json_script:"location_data" }}
<script>
	var locationData = JSON.parse(document.getElementById("location_data").textContent);
	if (locationData.length > 0) {
		var map = L.map('map');
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		var markers = L.markerClusterGroup();
		for (var i = 0; i < locationData.length; i++) {
			var data = locationData[i];
			markers.addLayer(L.marker([data.latitude, data.longitude])
							  .bindPopup(data.popup));
		}
		map.addLayer(markers);
		map.fitBounds(markers.getBounds());
	}
</script>

{{ heatmap_data|json_script:"heatmap_data" }}
{{ sips_data|json_script:"sips_data" }}
{{ chugs_data|json_script:"chugs_data" }}
{{ duration_data|json_script:"duration_data" }}
{{ chug_duration_data|json_script:"chug_duration_data" }}

<script>
	gamesHeatmap(document.getElementById("heatmap"), JSON.parse(document.getElementById("heatmap_data").textContent));

	function barchart_options() {
		return {
			chart: {
				height: 500,
			},
			plotOptions: {
				bar: {
					columnWidth: "90%",
				},
			},
			dataLabels: {
				enabled: false,
			},
			stroke: {
				show: true,
				width: 2,
				colors: ["transparent", "#00ff96"],
			},
			series: [{
				type: "bar",
				name: "Occurences",
			}],
			yaxis: {
				title: {
					text: "Occurences",
				},
				decimalsInFloat: 0,
			},
			tooltip: {
				enabledOnSeries: [0],
			},
		};
	}

	var charts = [{
		data: "sips_data",
		chart: "sips_chart",
		name: "Sips",
	}, {
		data: "chugs_data",
		chart: "chugs_chart",
		name: "Chugs",
	}];

	function normal_distribution(mu, sigma, x) {
		return 1 / (sigma * Math.sqrt(2 * Math.PI)) * Math.exp(-1/2 * Math.pow((x - mu) / sigma, 2));
	}

	for (var i = 0; i < charts.length; i++) {
		var data = JSON.parse(document.getElementById(charts[i].data).textContent);
		var chart_el = document.getElementById(charts[i].chart);

		if (data.xs.length === 0) {
			chart_el.textContent = 'No data';
			continue;
		}

		var options = barchart_options();
		options.xaxis = {
			title: {
				text: charts[i].name + " for one player in one game",
			},
			categories: data.xs,
		};
		options.series[0].data = data.ys;

		options.tooltip.y = {
			formatter: (function(data) {
				return function(val, d) {
					return val + " (" + (val / data.total_ys * 100).toFixed(2) + " %,"
						+ " expected: " + (data.probs[d.dataPointIndex] * 100).toFixed(2) + " %"
						+ (data.probs_exact? "": " approx.") +")";
				};
			})(data),
		};

		if (charts[i].data === "sips_data" && data.probs.length !== 0) {
      options.xaxis.labels = {
        formatter: function(val, index) {
          return val === undefined? "": toBase14(val);
        }
      };
			var expected = [];
			for (var j = 0; j < data.probs.length; j++) {
				expected.push(data.probs[j] * data.total_ys);
			}
			options.series.push({
				type: "line",
				name: "Expected occurences",
				data: expected,
			});
		}

		var chart = new ApexCharts(chart_el, options);
		chart.render();
	}

	var duration_charts = [{
		data: "duration_data",
		chart: "duration_chart",
		name: "Game duration",
	}, {
		data: "chug_duration_data",
		chart: "chug_duration_chart",
		name: "Chug duration (s)",
	}];

	for (var i = 0; i < duration_charts.length; i++) {
		var data = JSON.parse(document.getElementById(duration_charts[i].data).textContent);
		var chart_el = document.getElementById(duration_charts[i].chart);
        if (duration_data.total_ys === 0) {
			chart_el.textContent = "No data";
			continue;
	    }

		var options = barchart_options();
		options.xaxis = {
			title: {
				text: duration_charts[i].name,
			},
			categories: data.xs,
		};
		options.series[0].data = data.ys;
		options.tooltip.x = {
			formatter: (function(data) {
				return function(i, d) {
					var x = data.xs[d.dataPointIndex];
					var prevX = "0";
					if (d.dataPointIndex > 0) {
						var prevX = data.xs[d.dataPointIndex - 1];
					}
					return "[" + prevX + ", " + x + ")";
				};
			})(data),
		};
		options.tooltip.y = {
			formatter: (function(data) {
				return function(val, d) {
					return val + " (" + (val / data.total_ys * 100).toFixed(2) + " %)";
				};
			})(data),
		};

		var chart = new ApexCharts(chart_el, options);
		chart.render();
	}
</script>
{% endblock %}
