{% extends "base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.min.css" integrity="sha256-mS+0WtWHI0Mw4UuIK5xU+b+pB/vfWZiEHV4sJWx7az8=" crossorigin="anonymous" />
<style>
#image {
	max-width: 100%;
}
</style>
{% endblock %}

{% block content %}

<h3>
	<i class="fas fa-cogs"></i> Settings
</h3>

<hr>

<form method="post">
	{% csrf_token %}
	<div style="display: none;">
		<input type="file" id="file_input" accept="image/*" style="display: none;">
		{{ form.new_image_data_url }}
		{{ form.image_deleted }}
	</div>
	<div class="row">
		<div class="col-md-6 text-center">
			<div style="margin: 0px 20%;">
				<img src="{{ object.image_url }}" id="image" width="{{ IMAGE_WIDTH }}" height="{{ IMAGE_HEIGHT }}" alt="Profile picture">
			</div>
			<br>
			<button type="button" id="upload_button" class="btn btn-primary col-md-3">Upload image</button>
			<div class="d-lg-none" style="height: 10px;"></div>
			<button type="button" id="delete_button" class="btn btn-danger col-md-3">Delete</button>
			<br class="d-lg-none">
			<br class="d-lg-none">
		</div>
		<div class="col-md-6">
			{% bootstrap_field form.username %}
			{% bootstrap_field form.email %}
			<hr>
			{% bootstrap_field form.new_password %}
		</div>
	</div>

	<hr>
	<div class="text-right">

		<button type="submit" class="btn btn-primary col-md-1 pull-right">Save</button>
		<div class="d-lg-none" style="height: 10px;"></div>
		<a href="/players/{{object.id}}/" class="btn btn-danger col-md-1">Cancel</a>
	</div>
</form>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.min.js" integrity="sha256-vshROrHusjRqmlrpFKS7oAAd4YV7Stzn6DlDmtIBG/4=" crossorigin="anonymous"></script>
<script>
	var image = document.getElementById("image");

	function updateCropped() {
		var new_url = cropper.getCroppedCanvas().toDataURL("image/png");
		$("#id_new_image_data_url").val(new_url);
	}

	var cropper = new Cropper(image, {
		aspectRatio: {{ IMAGE_WIDTH }} / {{ IMAGE_HEIGHT }},
		autoCropArea: true,
	});

	

	image.addEventListener("cropend", updateCropped);

	var firstReady = true;
	image.addEventListener("ready", function() {
		if (firstReady) {
			firstReady = false;
		} else {
			updateCropped();
		}
	});

	var file_input = $("#file_input");
	$("#upload_button").click(function() {
		file_input.click();
	});
	$("#delete_button").click(function() {
		cropper.replace("{% static "user.png" %}");
		$("#id_new_image_data_url").val("");
		$("#id_image_deleted").prop("checked", true);
	});
	file_input.change(function() {
		var files = file_input.get(0).files;
		if (files.length > 0) {
			var file = files[0];
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function(evt) {
				if(evt.target.readyState === FileReader.DONE) {
					var url = evt.target.result;
					cropper.replace(url);
					$("#id_image_deleted").prop("checked", false);
				}
			};
		}
	});
</script>
{% endblock %}
