{% extends "admin/change_form.html" %}
{% block extrahead %}{{ block.super }}
<script>
  (function ($) {
    $(function() {
      var HOUR = 60 * 60 * 1000;

      function set_data(data) {
        var indented = JSON.stringify(data, null, 2);
        $("#id_game_log").text(indented);
      }

      function fix_timezone_shifts() {
        var data = JSON.parse($("#id_game_log").text());

        var ds = [0];
        for (var i = 0; i < data.cards.length; i++) {
            ds.push(data.cards[i].start_delta_ms);
        }

        for (var i = 1; i < ds.length; i++) {
            var diff = ds[i] - ds[i - 1];
            var hour_diff = Math.round(diff / HOUR);
            ds[i] = ds[i] - hour_diff * HOUR;
        }

        for (var i = 0; i < data.cards.length; i++) {
            data.cards[i].start_delta_ms = ds[i + 1];
        }

        set_data(data);
      }

      var infoText = $("<div>").text("?");

      $("fieldset").prepend(
        $("<div>").addClass("form-row").append(
          $("<div>").append(
            $("<label>").text("Game info in DB:"),
            infoText,
          )
        ),
        $("<div>").addClass("form-row").append(
          $("<div>").append(
            $("<label>").text("Fix timezone shifts:"),
            $("<button>").attr({type: "button"}).text("Fix").click(fix_timezone_shifts),
          )
        )
      );

      var file_input = $("#file_input");
      file_input.change(function() {
        $("#id_game_log").text("");
        var files = file_input.get(0).files;
        if (files.length > 0) {
          var file = files[0];
          var reader = new FileReader();
          reader.readAsText(file);
          reader.onload = function(evt) {
            if(evt.target.readyState === FileReader.DONE) {
              var text = evt.target.result;
              try {
                var data = JSON.parse(text);
                set_data(data);

                if (data.id) {
                  $.get(location.protocol + "//" + location.host + "/api/games/" + data.id + "/", function(db_data) {
                    var players = db_data.player_stats.length;
                    var expected_cards = players * 13;
                    var info = "Players: " + players + ", cards registered: " + db_data.cards.length + " / " + expected_cards;

                    infoText.text(info);
                  });
                }
              } catch(e) {
                alert(e);
              }
            }
          };
        }
      });
    });
  })(django.jQuery);
</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<style>
#id_game_log {
  font-family: monospace;
  max-height: initial;
}
</style>{% endblock %}

{% block content %}<input id="file_input" type="file" accept="application.json">{{ block.super }}{% endblock %}
