body {
    margin-bottom: 36px;
}

tr[data-href] {
    cursor: pointer;
}

nav {
    margin-bottom: 2rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

a {
    color: #bd2130;
}

a:hover {
    color: #9b0615;
}

tr.live {
    background-color: rgba(92, 184, 92, 0.4) !important;
}

tr.in-game {
    background-color: rgba(52, 152, 219,0.4) !important;
}